.wrapperpages{
    background-color: #23B5C9;
}

.list-group{
    font-size: 19px;
    text-align: left;
}

.lastLink{
    text-align: center;
    font-size: 200%;
    padding: 10px 350px;
   

}

.form-group{
    font-size: 150%;
}